<section class="last-projects noBg">
    <h2>Mes projets à la une</h2>
    <div class="list-projects">
        <article>
            <a class="link-image" href="{{ path('boy') }}">
                <div class="visual">
                    <img src="{{ asset('images/projects/boy/affiche.jpg') }}" alt="">
                </div>
            </a>
            <a class="link-title" href="">Boy</a>
            <span class="etiquette">Projet 360</span>
        </article>
        <article>
            <a class="link-image" href="{{ path('couverture_magazine') }}">
                <div class="visual">
                    <img src="{{ asset('images/projects/couverture/affiche.jpg') }}" alt="">
                </div>
            </a>
            <a class="link-title" href="">Magazine</a>
            <span class="etiquette">Affiche</span>
        </article>
        <article>
            <a class="link-image" href="{{ path('terres_du_son') }}">
                <div class="visual">
                    <img src="{{ asset('images/projects/terresduson/affiche_tds.jpg') }}" alt="">
                </div>
            </a>
            <a class="link-title" href="">Terres du son</a>
            <span class="etiquette">Projet 360</span>
        </article>
    </div>
</section>