{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <section class="extra-top all-projects last-projects noBg">
        <h2>Réalisations</h2>
        <h3>Découvrez mes projets</h3>
        <div class="list-projects">
            <article>
                <a class="link-image" href="{{ path('boy') }}">
                    <div class="visual">
                        <img src="{{ asset('images/projects/boy/affiche.jpg') }}" alt="">
                    </div>
                </a>
                <a class="link-title" href="">Boy</a>
                <span class="etiquette">Projet 360</span>
            </article>
            <article>
                <a class="link-image" href="{{ path('aesop') }}">
                    <div class="visual">
                        <img src="{{ asset('images/projects/aesop/affiche.jpg') }}" alt="">
                    </div>
                </a>
                <a class="link-title" href="">Aesop</a>
                <span class="etiquette">Projet 360</span>
            </article>
            <article>
                <a class="link-image" href="{{ path('couverture_magazine') }}">
                    <div class="visual">
                        <img src="{{ asset('images/projects/couverture/affiche.jpg') }}" alt="">
                    </div>
                </a>
                <a class="link-title" href="">Magazine</a>
                <span class="etiquette">Affiche</span>
            </article>
            <article>
                <a class="link-image" href="{{ path('terres_du_son') }}">
                    <div class="visual">
                        <img src="{{ asset('images/projects/terresduson/affiche_tds.jpg') }}" alt="">
                    </div>
                </a>
                <a class="link-title" href="">Terres du son 2020</a>
                <span class="etiquette">Projet 360</span>
            </article>
            <article>
                <a class="link-image" href="{{ path('renault') }}">
                    <div class="visual">
                        <img src="{{ asset('images/projects/renault/affiche.jpg') }}" alt="">
                    </div>
                </a>
                <a class="link-title" href="">Renault</a>
                <span class="etiquette">Brand Content</span>
            </article>
            <article>
                <a class="link-image" href="{{ path('despecup') }}">
                    <div class="visual">
                        <img src="{{ asset('images/projects/despecup/despecup.jpg') }}" alt="">
                    </div>
                </a>
                <a class="link-title" href="">DespeCup 2021</a>
                <span class="etiquette">Événementiel</span>
            </article>
            <article>
                <a class="link-image" href="{{ path('affiche_jpo_2020') }}">
                    <div class="visual">
                        <img src="{{ asset('images/projects/jpo2020/affiche_jpo.jpg') }}" alt="">
                    </div>
                </a>
                <a class="link-title" href="">JPO 2020</a>
                <span class="etiquette">Affiche</span>
            </article>
            <article>
                <a class="link-image" href="{{ path('batifive') }}">
                    <div class="visual">
                        <img src="{{ asset('images/projects/batifive/affiche.jpg') }}" alt="">
                    </div>
                </a>
                <a class="link-title" href="">Batifive</a>
                <span class="etiquette">Affiche</span>
            </article>
        </div>
    </section>

{% endblock %}
